<h2 class="text-center">List of Users</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <%# <th scope="col">Name</th> %>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @users.each do |user| %>
      <th scope="row"><%= user.id%></th>
      <%# <td><%= user.name</td> %>
      <td><%= user.email%></td>
      <td>
        <%= link_to(user_path(user), class: 'btn btn-sm btn-info') do %>
          <i class="fas fa-eye"></i>
        <% end %> | 
        <%= link_to(edit_user_path(user), class: 'btn btn-sm btn-secondary') do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %> | 
        <%= link_to(user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger') do %>
          <i class="fas fa-trash-alt"></i>
        <% end %> 
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
