<% if @first_post %>
    <div class="container bg-dark main-post-container">
        <div class="row main-post-row-1">
            <%= @first_post.title %>
        </div>
        <div class="row main-post-row-2">
            <%= sanitize truncate(@first_post.body, escape: false, length: 50).capitalize %>
        </div>
        <%= link_to 'Continue reading...', user_post_path(@first_post.user, @first_post.id), style:"color: white; font-size: 20px; font-family: Georgia; margin-left: 20px;" %>
    </div>

    <br>

    <h3 class="text-center">Recently published</h3>
    <br>
    <div class="container">
        <div class="row">
            <% @posts.each do |post| %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= post.title %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">By: <%= post.user.email %> 
                            <p class='text-secondary'>Added: <%= distance_of_time_in_words(post.created_at, Time.now)+ ' ago' %></p>
                        </h6>
                        <p class="card-text ml-3"><%= truncate(post.body, escape: false, length: 200) %></p>
                        <%= link_to 'Continue reading...', user_post_path(post.user, post.id), class:"card-link" %>
                    </div>
                </div>
                <br/>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="container bg-dark main-post-container">
        <div class="row main-post-row-1">
            No posts to show, please create some data...
        </div>
    </div>
<% end %>